In [14]:
import pandas as pd

In [15]:

data = {
21   :   450000,
45   :   4000000,
18 :     300000,
30  :    1000000,
60 :     8000000,
70  :    1000000,
75    :  2000000,
38   :   1500000,
45  :    2000000,
88  :    10000000
}

In [16]:
df = pd.DataFrame(list(data.items()),columns = ['age'  , 'Salary'])

In [18]:
df.head(3)

   age   Salary
0   21   450000
1   45  2000000
2   18   300000

In [20]:
df.to_csv('salary.csv')