In [17]:
import pandas as pd
url = 'https://raw.githubusercontent.com/LuxTechAcademy/machine-learning-deployment/master/predict%20sales/sales.csv'
data = pd.read_csv(url)
data.head()

    rate  sales_in_first_month  sales_in_second_month  sales_in_third_month
0    NaN                     2                    500                   300
1    NaN                     4                    300                   650
2   four                   600                    200                   400
3   nine                   450                    320                   650
4  seven                   600                    250                   350

In [2]:
data  = data.fillna(method = 'BFill' )

In [3]:
def Rep(word):
    dict = {
        'one'  :1,
        'two'  :2,
        'three':3,
        'four' :4,
        'five' :5,
        'six'  :6,
        'seven':7,
        'nine' :9,
        'zero' :0
    }
    return dict[word]

In [4]:
data['rate'] = data['rate'].apply(lambda x: Rep(x))

In [5]:
X = data.iloc[:, :3]
y = data.iloc[:, -1]

In [18]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

import pickle
pickle.dump(model,open('sample.pkl', 'wb'))

model = pickle.load(open('sample.pkl','rb'))

model.fit(X,y)

score = model.score(X, y)

In [13]:
score

0.6246717780021942

In [14]:
result = model.predict([[4,300,500]])

### **Important Materials:**

**Lambda:** 
 
https://www.programiz.com/python-programming/anonymous-function

**Apply method in pandas Series:** 

https://www.w3resource.com/pandas/series/series-apply.php